[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-tp"]
	path = bundle/vim-tp
	url = git@github.com:onerobotics/vim-tp.git
[submodule "bundle/vim-karel"]
	path = bundle/vim-karel
	url = git@github.com:onerobotics/vim-karel.git
