[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "/Users/jay/.vim/bundle/vim-pathogen"]
	path = /Users/jay/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
